<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="shortcut icon" href="<%= require('./assets/MinimaListLogo.svg')%>" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar">
            <img src="<%=require('./assets/icons/chevronBack.svg')%>" alt="" id="close-sidebar">
            <img src="<%= require('./assets/MinimaListLogo.svg') %>"" alt=" minimaList Logo" id="minimaList">
            <button id="add-project" class="project-btn">New Project</button>
            <div id="projects-container"></div>
            <button id="theme-toggle">Light</button>
        </div>

        <div id="main">
            <div id="topbar">
                <p id="heading"><span id="main-heading">MinimaList /</span><span id="subheading"><span></p>
            </div>
            <div id="content">
            </div>
            <img src="<%= require('./assets/icons/menu.svg') %>" alt="" id="open-sidebar">
            <button id="add-task"><img src="<%= require('./assets/icons/addCircled.svg')%>" alt="add task"></button>
        </div>

</body>

</html>